@import url(navbar.css);
@import url(hero.css);
@import url(categories.css);
@import url(inspirations.css);
@import url(products.css);

/* =========================================
                   VARIÁVEIS GLOBAIS
========================================= */
:root {
    --color-primary: #ffffff; /* Cor principal da Bics */
    --color-black: #000000;
    --color-text-dark: #1a1a1a;
    --color-text-light: #ffffff;
    --transition-smooth: all .4s ease-in-out;
    --font-main: 'BicsFont', Helvetica, Arial, sans-serif;
    --font-logo: 'Times New Roman', Times, serif; /* Fonte elegante para a logo Bics */
}

@font-face {
  font-family: 'BicsFont';
  src: url('/fonts/jonathan-ball-acre-medium.otf') format('opentype');
}

/* =========================================
                   RESET GLOBAL
========================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    background-color: var(--color-primary);
    color: var(--color-text-dark);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    color: inherit;
}

/* =========================================
                   SCROLLBAR
========================================= */
/* Para navegadores baseados em WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 5px; /* Deixa a barra bem fina */
}

::-webkit-scrollbar-track {
    background: var(--color-primary); /* Fundo preto */
}

::-webkit-scrollbar-thumb {
    background: gray; /* Parte que rola branca */
    border-radius: 20px; /* Bordas levemente arredondadas para um toque suave */
}
